#ctn-regiones {
    padding: 2em 6em;
    .bloque-region {
        .region {
            margin: 10px 0;
            .bloque-pais {
                margin: 10px 0px 10px 50px;
                .pais {
                    margin: 20px 20px;

                    .bloque-ciudad {
                        margin: 10px 0px 10px 50px;
                    }
                }
            }
        }
    }
}