$theme-color-main: #1D72C2;
$light-blue: #0683F9;
$very-light-blue: #8EC7FC;
$green: #429C41;
$dark-red: #BB3E3F;
$red: #DE0028;
$orange: #FF6F00;
$yellow: #FFC700;
$turquoise: #1CC1F5;
$light-grey: #E8E8E8;