@import "header", "variables";

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

