header {
  width: 100%;
  display: block;
  position: relative;
  height: 95px;
  top: 0;
  z-index: 1000;
  background-color: #1D72C2;
}

header a .main-logo {
  height: 48.8px;
  width: 48.8px;
  float: left;
  margin-left: 39px;
  padding-top: 19px;
}

header .navbar {
  float: right;
}

header .navbar .left-menu {
  padding-top: 3px;
  margin: 40px;
}

header .navbar .left-menu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #FFFFFF;
  opacity: 100%;
  top: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .left-menu ul li {
  padding-right: 30px;
  background-color: #1D72C2;
}

header .navbar .left-menu ul li a {
  color: #FFFFFF;
}

.login-box {
  border: 1px solid #000000;
  width: 25%;
  margin: 15vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2vh;
  padding: 3vh 0;
}

.login-box .bienvenido {
  font-size: 38px;
  padding-bottom: 2vh;
}

.login-box .login-inputs {
  width: 200px;
  height: 25px;
}

.login-box .login-inputs::-webkit-input-placeholder {
  text-align: center;
}

.login-box .login-inputs:-ms-input-placeholder {
  text-align: center;
}

.login-box .login-inputs::-ms-input-placeholder {
  text-align: center;
}

.login-box .login-inputs::placeholder {
  text-align: center;
}

.login-box .ingresar-btn-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login-box .ingresar-btn-ctn .ingresar-btn {
  height: 35px;
  width: 95px;
}

.create-user-box {
  border: 1px solid #000000;
  width: 35%;
  margin: 15vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2vh;
  padding: 3vh 0;
}

.create-user-box .crear-usuario-title {
  margin-bottom: 4vh;
}

.create-user-box .form-component label {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4vh;
          column-gap: 4vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-user-box .form-component label .create-user-inputs {
  width: 190px;
  height: 35.5px;
}

.create-user-box .form-component label select {
  width: 194px;
  height: 35.5px;
}

.create-user-box .form-component .crear-usuario-btn-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.create-user-box .form-component .crear-usuario-btn-ctn .crear-usuario-btn {
  width: 120px;
  height: 35.5px;
  margin-top: 2vh;
}

#lista-usuarios {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 1em;
  margin: 0 auto;
  font-size: 28px;
}

#lista-usuarios #usuarios-title {
  margin-bottom: 20px;
}

#lista-usuarios #tabla-usuarios thead {
  background-color: beige;
}

#lista-usuarios #tabla-usuarios #info-usuarios td {
  padding: 10px 0;
}

#ctn-agregar-region {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#ctn-agregar-region #btn-agregar-region {
  font-size: 20px;
  margin: 15px 45px 0 0;
  padding: 10px 20px;
  cursor: pointer;
}

#ctn-regiones {
  padding: 2em 2em;
  font-size: 26px;
}

#ctn-regiones .bloque-region .region {
  margin: 10px 0;
  padding: 20px;
}

#ctn-regiones .bloque-region .region .flecha {
  width: 32px;
  height: 30px;
  background-color: black;
  position: relative;
  display: inline-block;
  top: 10px;
  left: 70px;
  -webkit-clip-path: polygon(100% 100%, 0 50%, 100% 0);
          clip-path: polygon(100% 100%, 0 50%, 100% 0);
  cursor: pointer;
}

#ctn-regiones .bloque-region .region .bloque-pais {
  margin: 10px 0px 40px 60px;
}

#ctn-regiones .bloque-region .region .bloque-pais .pais {
  padding: 20px;
  margin: 30px 20px;
}

#ctn-regiones .bloque-region .region .bloque-pais .pais .bloque-ciudad {
  margin: 25px 0px 40px 60px;
}

#ctn-regiones .bloque-region .region .bloque-pais .pais .bloque-ciudad .ciudad {
  margin: 0 30px 0 30px;
  padding: 10px 20px;
}

#lista-companias {
  padding: 50px 90px;
}

#lista-companias #first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

#lista-companias #first-row #agregar-compania {
  font-size: 20px;
  padding: 15px 30px;
}

#lista-companias #tabla-companias {
  font-size: 19px;
}

#btn-borrar-compania {
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#btn-editar-compania {
  padding: 5px;
}

.create-company-box {
  position: absolute;
  visibility: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.form-box {
  border: 1px solid black;
  z-index: -1000;
  width: 35%;
  margin: 15vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2vh;
  padding: 3vh 0;
}

.form-box .crear-usuario-title {
  margin-bottom: 4vh;
}

.form-box .form-component label {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4vh;
          column-gap: 4vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-box .form-component label .create-user-inputs {
  width: 190px;
  height: 35.5px;
}

.form-box .form-component label select {
  width: 194px;
  height: 35.5px;
}

.form-box .form-component .agregar-comp-btn-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-box .form-component .agregar-comp-btn-ctn .agregar-comp-btn {
  width: 120px;
  height: 35.5px;
  margin-top: 2vh;
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Open Sans', 'regular', 'bold';
  list-style: none;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */